{% extends "layout.html" %}

{% set active_page = "question" %}

{% block title %}Questions{% endblock %}

{% block content %}
	<div class="center">
		<p>{{ question }}</p>
		<form action="/next" method="post">
			<input type="radio" name="answer" value="0">{{ answers[0] }}</input>
			<br>
			<br>
			<input type="radio" name="answer" value="1">{{ answers[1] }}</input>
			<br>
			<br>
			<input type="radio" name="answer" value="2">{{ answers[2] }}</input>
			<br>
			<br>
			<input type="radio" name="answer" value="3">{{ answers[3] }}</input>
			<br>
			<br>
			<input type="hidden" name="refresh-check" value="{{ questionNum }}"></input>
			<button type="submit">Submit</button>
		</form>
		<br>
		<br>
		<br>
		<p>Current question: {{ questionNum }} / {{ qLength }}</p>
	</div>
{% endblock %}
